<% if @selfie.errors.any? %>
  <div class='error'>
    Error!  <%= @selfie.errors.full_messages.join(', ') %>
  </div>
<% end %>
<form method="post" action="/">
  <input type="text" name="text">
  <button type="submit">Submit</button>
</form>
<ul>
  <% @selfies.each do |selfie| %>
    <li><%= selfie.text %></li>
  <% end %>
</ul>